/*-pick_up-Start-*/

.pick_up_TopWear{
    padding: 0px 0px 20px 0px;
    font-family: "Afacad Flux", sans-serif;
    overflow: hidden;
    background-color: #fbfbfb;
    text-transform: uppercase;
}

.pick_up_TopWear .ProSearchAll {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.pick_up_TopWear .center_1_TopWear{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

 .pick_up_TopWear .center_1_TopWear .NoProducts{
    width: 100%;
    display: flex;
    height: 55vh;
    justify-content: center;
    align-items: center;
}
.pick_up_TopWear .center_1_TopWear .NoProducts img{
    width: 25%;
}


.pick_up_TopWear form{
    text-align: center;
    width: 400px;
    height: 35px;
    position: relative;
}
.pick_up_TopWear form #men_dress{
    width: 400px;
    height: 35px;
    text-indent: 10px;
    background-color: rgb(244, 244, 244);
    border: solid 1px #8d605d;
}
.pick_up_TopWear form #searchIcon{
    color: #8d605d;
    position: absolute;
    right: 10px;
    top: 5px;
}



/*-pick_up_TopWear-End-*/





@media screen and (max-width:991px){

    .pick_up_TopWear .center_1_TopWear {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    .pick_up_TopWear .center_1_TopWear .NoProducts img {
        width: 45%;
    }
    
}







@media screen and (max-width:576px){

    .pick_up_TopWear .center_1_TopWear .NoProducts img {
        width: 60%;
    }
    .pick_up_TopWear .center_1_TopWear {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 225px;
        height: 35px;
        position: relative;
    }
    .pick_up_TopWear form #men_dress {
        width: 225px;
        height: 35px;
        text-indent: 10px;
    }
   
}


@media screen and (max-width:540px){
    .pick_up_TopWear .center_1_TopWear {
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
    }
    
}

@media screen and (max-width:400px){
.pick_up_TopWear form {
    text-align: center;
    width: 195px;
    height: 30px;
    position: relative;
}
.pick_up_TopWear form #men_dress {
    width: 195px;
    height: 30px;
    text-indent: 10px;
}
.pick_up_TopWear form #searchIcon {
    position: absolute;
    right: 6px;
    top: 3px;
}


}


@media screen and (max-width:360px){
    .pick_up_TopWear form #men_dress {
        width: 152px;
        height: 30px;
        text-indent: 10px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 152px;
        height: 30px;
        position: relative;
    }
    .pick_up_TopWear form #searchIcon {
        position: absolute;
        right: 6px;
        top: 3px;
        font-size: 20px;
    }
    .pick_up_TopWear form #men_dress {
        width: 152px;
        height: 30px;
        text-indent: 10px;
        font-size: 13px;
    }
}
















/* @media screen and (max-width:1199px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 218px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 223px;
        object-fit: cover;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 400px;
        height: 35px;
        position: relative;
    }
}

@media screen and (max-width:1150px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 200px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 195px;
        object-fit: cover;
    }
}

@media screen and (max-width:1100px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 193px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 185px;
        object-fit: cover;
    }
}

@media screen and (max-width:1050px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 184px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
}

@media screen and (max-width:991px){
    .filter_head .fil_alls {
        width: 112%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 170px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
}

@media screen and (max-width:950px){
    
}

@media screen and (max-width:900px){



}


    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 200px;
        margin: 10px 10px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }
    .pick_up_TopWear {
        padding: 20px 0px 20px 0px;
        font-family: "Afacad Flux", sans-serif;
        overflow: hidden;
        background-color: #fbfbfb;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 400px;
        height: 35px;
        position: relative;
    }
}


@media screen and (max-width:850px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 195px;
        margin: 10px 10px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label {
        color: #0f284d;
        font-size: 15px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label input {
        width: 30px;
        height: 15px;
        margin-right: 0px;
    }
    .filter_head .fil_alls .center_2_filter ul li {
        list-style-type: none;
        margin: 10px 0px 10px 0px;
        font-size: 15px;
    }
}

@media screen and (max-width:800px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 255px;
        margin: 10px 10px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 215px;
        object-fit: cover;
    }
    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .filter_head {
        position: relative;
        top: -55px;
        left: 0px;
    }
    .filter_head .fil_alls {
        width: 131%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear .NoProducts img {
        width: 40%;
    }
}


@media screen and (max-width:750px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 245px;
        margin: 10px 0px;
    }
}

@media screen and (max-width:700px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 233px;
        margin: 10px 0px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 329px;
        height: 35px;
        position: relative;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label {
        color: #0f284d;
        font-size: 14px;
    }
    .filter_head .fil_alls .center_2_filter ul li input {
        width: 20px;
        margin: 0px 3px 0px 0px;
    }
    .filter_head .fil_alls {
        width: 132%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .pick_up_TopWear form #men_dress {
        width: 330px;
        height: 35px;
        text-indent: 10px;
    }
    
}

@media screen and (max-width:650px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 200px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 195px;
        object-fit: cover;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 330px;
        height: 35px;
        position: relative;
    }
    .filter_head .fil_alls {
        width: 136%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .filter_head .fil_alls .center_1_filter {
        padding: 20px 5px 20px 5px;
    }
    .filter_head .fil_alls .center_2_filter {
        padding: 20px 5px 20px 5px;
    }
}

@media screen and (max-width:600px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 190px;
        margin: 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 300px;
        height: 35px;
        position: relative;
    }
    .pick_up_TopWear form #men_dress {
        width: 300px;
        height: 35px;
        text-indent: 10px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label {
        color: #0f284d;
        font-size: 13px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label input {
        width: 20px;
        height: 12px;
        margin-right: 0px;
    }
    .filter_head .fil_alls .center_2_filter ul li h5 {
        font-size: 19px;
        font-weight: 500;
        padding: 0px 0px 0px 0px;
        color: #0f284d;
    }
    .filter_head .fil_alls .center_1_filter h5 {
        font-size: 19px;
        font-weight: 500;
        color: #0f284d;
    }
    .filter_head .fil_alls .center_2_filter ul li {
        list-style-type: none;
        margin: 10px 0px 10px 0px;
        font-size: 13px;
    }
    .filter_head .fil_alls .center_2_filter ul li input {
        width: 20px;
        margin: 0px 0px 0px 0px;
    }
    .filter_head .fil_alls {
        width: 140%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .pick_up_TopWear .center_1_TopWear .NoProducts img {
        width: 50%;
    }
}


@media screen and (max-width:550px){
    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 160px;
        margin: 10px 7px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear ul li h5 {
        margin: 0px 0px 0px 0px;
        font-weight: 600;
        color: #000;
        font-size: 19px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear ul li {
        list-style-type: none;
        font-weight: 600;
        color: rgb(171, 171, 171);
        font-size: 16px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 250px;
        height: 35px;
        position: relative;
        left: 20px;
    }
    .pick_up_TopWear form #men_dress {
        width: 250px;
        height: 35px;
        text-indent: 10px;
    }
    .filter_head .fil_alls {
        width: 155%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
}

@media screen and (max-width:500px){
    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        padding-right: 10px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 150px;
        margin: 10px 7px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .filter_head .fil_alls {
        width: 170%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 270px;
        height: 35px;
        position: relative;
    }
}

@media screen and (max-width:450px){
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 133px;
        margin: 10px 7px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear ul li h5 {
        margin: 0px 0px 0px 0px;
        font-weight: 600;
        color: #000;
        font-size: 16px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear ul li {
        list-style-type: none;
        font-weight: 600;
        color: rgb(171, 171, 171);
        font-size: 15px;
    }
    .filter_head .fil_alls .top_filter h4 {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
    }
    .filter_head .fil_alls .center_2_filter ul li h5 {
        font-size: 16px;
        font-weight: 500;
        padding: 0px 0px 0px 0px;
        color: #0f284d;
    }
    .filter_head .fil_alls .center_1_filter h5 {
        font-size: 17px;
        font-weight: 500;
        color: #0f284d;
    }
    .filter_head .fil_alls {
        width: 181%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label {
        color: #0f284d;
        font-size: 12px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label input {
        width: 14px;
        height: 10px;
    }
    .filter_head .fil_alls .center_2_filter ul li input {
        width: 12px;
        height: 11px;
        margin: 0px 2px 0px 0px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 230px;
        height: 35px;
        position: relative;
        left: 30px;
    }
    .pick_up_TopWear form #men_dress {
        width: 230px;
        height: 35px;
        text-indent: 10px;
    }  
}

@media screen and (max-width:400px){
    .pick_up_TopWear .center_1_TopWear {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        padding-right: 2px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear {
        width: 120px;
        margin: 10px 5px;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }
    .pick_up_TopWear .center_1_TopWear #one_pice_TopWear ul li h5 {
        margin: 0px 0px 0px 0px;
        font-weight: 600;
        color: #000;
        font-size: 15px;
    }
    .pick_up_TopWear form #men_dress {
        width: 200px;
        height: 30px;
        text-indent: 10px;
    }
    .pick_up_TopWear form {
        text-align: center;
        width: 200px;
        height: 30px;
        position: relative;
        left: 42px;
    }
    .pick_up_TopWear form #searchIcon {
        position: absolute;
        right: 7px;
        top: 3px;
    }
    .filter_head .fil_alls {
        width: 204%;
        height: 83vh;
        padding: 0px 0px 10px 0px;
    }
    .filter_head .fil_alls .center_2_filter ul li {
        list-style-type: none;
        margin: 10px 0px 10px 0px;
        font-size: 12px;
    }
    .filter_head .fil_alls .center_1_filter .price_btns label input {
        width: 12px;
        height: 10px;
    }
} */